# Large archives
*.zip
*.rar
*.7z
archive (1)/

# Ignore datasets, models and runs recursively in any folder
**/dataset/
**/data/
**/vehicle-10/
**/new model/
**/runs/

# Ignore PyTorch weights recursively
**/*.pt
**/*.pth
**/*.onnx

# Python caching and environment
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
venv/
.venv/
env/

# Video files and outputs
test_files/output/
test_files/output_v2/
test_files/screenshots/
**/*.mp4
**/*.avi
**/*.mov
**/*.log
.vscode/
.idea/
